---
// Feature List Section
// ------------
// Description: A list of features with icons and descriptions in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Feature from '../../ui/Feature.astro'

// Data
import features from '../../../data/json-files/featuresData.json'

const heading = {
	title: 'Что уже есть в платформе',
	text: 'Собрали основные модули: от ИИ-превью и токенов до витрины с товарами и интеграций с CRM.'
}
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">{heading.title}</h2>
			<p class="pb-0 text-lg">{heading.text}</p>
		</Col>
	</Row>
	<Row>
		{
			features.slice(0, 8).map((feature) => (
				<Col span="3">
					<Feature title={feature.title} icon={feature.icon} align="left" classes="mb-12">
						{feature.description}
					</Feature>
				</Col>
			))
		}
	</Row>
</Section>
