---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import badge from '../../../assets/badge.svg'
// Props
type Props = {
  title?: string
  text?: string
  buttonLabel?: string
  buttonLink?: string
  ctaClasses?: string
  sectionClasses?: string
  buttonBooking?: boolean
}
const {
  title = 'Готова к трансформации?',
  text = 'Осторожно! После примерки может возникнуть острое желание записаться к мастеру — мы предупредили:)',
  buttonLabel = 'Примерь бесплатно',
  buttonLink = '/',
  buttonBooking = false,
  ctaClasses,
  sectionClasses
} = Astro.props

const finalCtaClasses = `${ctaClasses ? `${ctaClasses} ` : '!shadow-none ' }[&_.cta__text]:max-w-[30rem] [&_.cta__text]:mx-auto`
---

<Section classes={sectionClasses}>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA title={title} text={text} classes={finalCtaClasses}>
				<ChipNotification slot="pretitle" radius="rounded-full" classes="mb-4">
					<Image src={badge} alt="Trophy" class="h-12 w-12" slot="button" />
					<strong>Мастера рекомендуют</strong>
				</ChipNotification>
				<Button size="lg" style="primary" link={buttonLink} booking={buttonBooking}>{buttonLabel}</Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
