---
// Basic Dark Testimonial section
// ------------
// Description: A centered testimonial section that contains: a quote, a caption and a cite in a dark section with a background image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Testimonial from '../../ui/Testimonial.astro'

// Props
type Props = {
	blockquote?: string
	figcaption?: string
	cite?: string
	bg?: any
	bgPosition?: 'left' | 'right' | 'center'
	classes?: string
}
const {
	blockquote = 'AI Hair Extension Selling Platform is like a rocket boost for our productivity! Its sleek design and out-of-this-world features make managing projects and team communication a breeze.',
	figcaption = 'Sheryl Sandberg',
	cite = 'CEO, Facebook',
	bg,
	bgPosition = 'center',
	classes
} = Astro.props
---

<Section
        id="testimonial"
        bg={bg}
        bgPosition={bgPosition}
        classes={`${classes ? classes + ' ' : ''}border-y border-neutral-200 bg-[#1A1A1A] text-white`}
>
	<Row>
		<Col span="12">
			<Testimonial
				blockquote={blockquote}
				figcaption={figcaption}
				cite={cite}
				align="center"
				size="4xl"
				mobileSize="2xl"
                                classes="!leading-tight font-bold xl:text-5xl max-w-4xl mx-auto text-neutral-50"
				quoteSize={112}
			/>
		</Col>
	</Row>
</Section>

<style is:global>
        /* Make opening quote subtler and ensure light text on dark background */
        #testimonial .testimonial--quote {
                @apply text-neutral-300;
        }
        #testimonial .testimonial__blockquote > p {
                color: #fff !important;
        }
        #testimonial .testimonial__figcaption {
                color: #fff !important;
        }
</style>
