---
// Imports
// Components
import NavigationBar from '../components/ui/NavigationBar.astro'
import Main from '../components/ui/Main.astro'
import Footer from '../components/ui/Footer.astro'
import Modal from '../components/blocks/modal/SignUp.astro'
import Header from '../components/blocks/head/Header.astro'
import Toast from '../components/ui/Toast.astro'
// Scripts
import Scriprs from '../components/scripts/LocalScripts.astro'
import GoogleTagManagerBody from '../components/scripts/googleTagManagerBody.astro'
// Styles
import '../styles/tailwind.css'
// Fonts
import '@fontsource-variable/inter'
// Headings use Google Font Geologica (loaded in <Head>)
// Data
import { configData } from '../config/config'

// Props
type Props = {
	title?: string
	description?: string
	ogImage?: string
	noindex?: boolean
	classes?: string
}
// Page Metadata
const { title, description, ogImage, noindex, classes } = Astro.props
---

<!doctype html>
<html lang="ru" class:list={[
        'relative scroll-smooth antialiased',
        { ['scroll-animation']: configData.scrollAnimations }
]}
>
        <Header title={title} description={description} ogImage={ogImage} noindex={noindex} />
        <body
                class:list={[
                        'font-sans bg-white text-neutral-500 has-[.header__menu--open]:overflow-hidden lg:has-[.header__menu--open]:overflow-auto dark:bg-neutral-950 dark:text-neutral-400 [.dark_&]:text-neutral-400 [.light_&]:text-neutral-500',
                        { ['mode-' + `${configData.mode}`]: configData.mode },
                        { [`${classes}`]: classes }
                ]}
        >
		<GoogleTagManagerBody />
		<NavigationBar />
		<Main>
			<slot />
		</Main>
		<Footer />
		<Modal />
		<Toast />
		<Scriprs />
	</body>
</html>
